* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces, #clock, #pulseaudio {
    background: #181616;
    color: #c5c9c5;
    padding: 0px 15px;
    border-radius: 12px;
    margin: 4px 0px;
}

#workspaces button {
    padding: 0px 5px;
    color: #727169;
    background: transparent;
}

#workspaces button.focused {
    color: #8ba4b1;
    border-bottom: 2px solid #8ba4b1;
}

#workspaces button.urgent {
    color: #c4746e;
}

#clock {
    color: #c5c9c5;
}

#pulseaudio {
    color: #c5c9c5;
}

#pulseaudio.muted {
    color: #c4746e;
}
