* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces, #clock, #pipewire {
    background: #1e1e2e;
    color: #cdd6f4;
    padding: 0px 15px;
    border-radius: 12px;
    margin: 4px 0px;
}

/* Sway specific workspace styling */
#workspaces button {
    padding: 0px 5px;
    color: #585b70;
    background: transparent;
}

#workspaces button.focused {
    color: #89b4fa;
    border-bottom: 2px solid #89b4fa;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#clock {
    color: #cdd6f4;
}

#pipewire {
    color: #fab387;
}

#pipewire.muted {
    color: #f38ba8;
}
