* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces, #clock, #pulseaudio {
    background: #12120f;
    color: #a6a69c;
    padding: 0px 15px;
    border-radius: 12px;
    margin: 4px 0px;
}

#workspaces button {
    padding: 0px 5px;
    color: #53534e;
    background: transparent;
}

#workspaces button.focused {
    color: #7a8382;
    border-bottom: 2px solid #495a63;
}

#workspaces button.active {
    color: #7a8382;
    border-bottom: 2px solid #495a63;
}

#workspaces button.urgent {
    color: #8a4b46;
}

#clock {
    color: #7a8382;
}

#pulseaudio {
    color: #7a8382;
}

#pulseaudio.muted {
    color: #8a4b46;
}
