* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: transparent;
    color: #c5c9c5;
}

#workspaces,
.modules-right,
#clock {
    background-color: #181820;
    border-radius: 12px;
    border-bottom: 2px solid #282837;
    padding: 0 10px;
    margin: 4px;
}

#workspaces button {
    padding: 0 10px;
    color: #a6a69c;
    background: transparent;
}

#workspaces button.focused {
    color: #8a9a7b;
    border-bottom: 2px solid #8a9a7b;
}

#clock {
    color: #a6a69c;
}

#network {
    color: #8992a7;
}

#network.disconnected {
    color: #c4746e;
}

#pulseaudio {
    color: #8ba4b0;
}

#custom-notification {
    color: #c4746e;
}

#battery {
    color: #8ea4a2;
}

#tray {
    margin-left: 5px;
}

#network,
#pulseaudio,
#battery,
#custom-notification,
#tray {
    padding: 0 8px;
    background: transparent;
}
