* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#workspaces, #clock, #pulseaudio {
    background: #282828;
    color: #dfbf8e;
    padding: 0px 15px;
    border-radius: 12px;
    margin: 4px 0px;
}

#workspaces button {
    padding: 0px 5px;
    color: #928374;
    background: transparent;
}

#workspaces button.focused {
    color: #a9b665;
    border-bottom: 2px solid #a9b665;
}

#workspaces button.urgent {
    color: #ea6962;
}

#clock {
    color: #dfbf8e;
}

#pulseaudio {
    color: #dfbf8e;
}

#pulseaudio.muted {
    color: #ea6962;
}
